<h1>Create new question</h1>

<form action="add_question" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <p>
    <label for="question-body">Body:</label>
    <input type="text" name="body" id="question-body">
  </p><br>

  <p>
    <label for="test-id">Test:</label>
    <input type="text" name="test_id" id="test-id">
  </p><br>

  <input type="submit" value="Create">
</form>