<h1>All badges</h1>

<p>
  <%= link_to "New badge", new_admin_badge_path %>
</p>

<div>
  <%= render 'shared/errors', resource: @badge %>
</div>

<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      <%= "Name" %>
    </th>
  </tr>
  
  <%= render @badges %>
</table>