<p>
  <strong>Name:</strong>
  <%= @badge.name %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag(@badge.image) %>
</p>

<%= link_to 'Edit', edit_admin_badge_path(@badge) %> |
<%= link_to 'Back', admin_badges_path %>