<h1> <%= current_user.username %> badges</h1>

<table class="table table-striped">
  <tr class="sort-by-title pointer">
    <th>
      Name
    </th>
  </tr>

  <%= render @badges %>
</table>
<%= link_to 'Back', root_url %>
