.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.border-alert {
  border: 2px solid;
  border-color: red;
  border-radius: 5px;
}

.border-success {
  border: 2px solid;
  border-color: green;
  border-radius: 5px;
}
