<h3><%= link_to 'Проект TestGuru', github_url('celtic93', 'test-guru') %></h3>
<p>Автор - Сычик Николай</p>
<p>Приложение для прохождения тестов на различную тематику</p>

<%= link_to 'Учебный проект в онлайн-школе ThinkNetica', 'http://thinknetica.com' %>
<%= current_year %>
