<%= link_to t('.contact'), new_message_path %>

<h3><%= github_url('celtic93', 'test-guru') %></h3>
<p>Автор - Сычик Николай</p>
<p>Приложение для прохождения тестов на различную тематику</p>

<%= link_to 'Учебный проект в онлайн-школе ThinkNetica', 'http://thinknetica.com', target: '_blank', rel: 'noopener noreferrer' %>
<%= current_year %>
